{% extends "base.html" %}
{% block 'content' %}

<div><a href="{% url 'shelf:book-list'  %}"> Powrót do listy</a></div>
<div><h2>Książka: {{ object.title }}</h2></div>
<div>
    Kategorie:
    <ul>
    {% for category in object.categories.all %}
    <li>
         <a href="{% url 'shelf:category-detail' category.id %}"  >
        {{category.name}}
         </a>
    </li>
    {% endfor %}
        </ul>
</div>

<div>
    Autorzy:
    <ul>
    {% for author in object.authors.all %}
    <li>
        <a href="{% url 'shelf:author-detail' author.id %}"  >
        {{author.first_name}} {{author.second_name}}
        </a>
    </li>
    {% endfor %}
        </ul>
</div>



{% endblock %}